/* default ball styles */

.DropzoneField > .ChristmasBall {
  height: 100%;
  user-select: none;
}

.DropzoneField > .ChristmasBall:hover {
  cursor: pointer;
}

.DropzoneField > .ChristmasBall > .BallPath {
  fill: var(--color-font);
  transition: fill 0.5s ease;
}

/* ball colors based on drag'n'drop state or hover */

.DropzoneField.accept > .ChristmasBall > .BallPath,
.DropzoneField:not(.active) > .ChristmasBall:hover > .BallPath {
  fill: var(--color-gold);
}

.DropzoneField.reject > .ChristmasBall > .BallPath {
  fill: var(--color-error);
}

/* ball animations based on drag'n' drop state */

@media (prefers-reduced-motion: no-preference) {
  .DropzoneField:not(.active) > .ChristmasBall {
    animation: swing infinite 2s ease-in-out alternate-reverse;
  }

  .DropzoneField.active.accept > .ChristmasBall {
    animation: swing infinite 0.2s ease-in-out alternate-reverse;
  }

  .DropzoneField.active.reject > .ChristmasBall {
    animation: wobble infinite 0.2s ease-in-out alternate-reverse;
  }
}

/* animation keyframes */

@keyframes wobble {
  0% {
    transform: translate(1vmin, 0);
  }
  100% {
    transform: translate(-1vmin, 0);
  }
}

@keyframes swing {
  0% {
    transform: rotate(15deg);
    transform-origin: top center;
  }
  100% {
    transform: rotate(-15deg);
    transform-origin: top center;
  }
}
