/* dropzone field style */

.JsonDropzone > .DropzoneField {
  height: 25vmin;
  width: 90vw;
}

.JsonDropzone.small > .DropzoneField {
  height: 10vmin;
}

/* title and description */

.JsonDropzone > p:first-of-type {
  margin-top: 5vh;
}

.JsonDropzone > p.Title {
  margin-top: 5vh;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.JsonDropzone > p.Error {
  color: var(--color-error);
}
