/* leaderboard base styles */

.Leaderboard {
  margin-bottom: 2vmin;
  padding: 2em 1em;
  background-color: var(--color-highlight-dim);
}

.Leaderboard > .Title {
  padding: 0 1em;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.25em;
}

.Leaderboard > .Description {
  padding: 0 1em;
  height: 3.3em;
  line-height: 1.1em;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}

.Leaderboard > table {
  width: 100%;
  margin-top: 1em;
  table-layout: fixed;
  border-collapse: collapse;
}

/* rank, name, value */

.Leaderboard td.Name {
  text-align: start;
  padding: 0 0.75em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Leaderboard td.Rank {
  width: 1.5em;
}

.Leaderboard td.Value {
  width: 4em;
  height: 2.2em;
  line-height: 1.1em;
  padding-right: 0.5em;
}

.Leaderboard td.Rank,
.Leaderboard td.Value {
  text-align: end;
  color: var(--color-dim);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}

/* row hover */

.Leaderboard tr:hover {
  background-color: var(--color-highlight);
}

/* rank medal colors */

.Leaderboard tr[data-rank="1"] > td.Rank,
.Leaderboard tr[data-rank="1"] > td.Name {
  color: var(--color-gold);
  font-weight: var(--font-weight-normal);
  filter: drop-shadow(0 0 0.5vmin var(--color-gold));
}

.Leaderboard tr[data-rank="2"] > td.Rank,
.Leaderboard tr[data-rank="2"] > td.Name {
  color: var(--color-silver);
  font-weight: var(--font-weight-normal);
  filter: drop-shadow(0 0 0.5vmin var(--color-silver));
}

.Leaderboard tr[data-rank="3"] > td.Rank,
.Leaderboard tr[data-rank="3"] > td.Name {
  color: var(--color-bronze);
  font-weight: var(--font-weight-normal);
  filter: drop-shadow(0 0 0.5vmin var(--color-bronze));
}
