/* share url style */

.ShareUrl > .UrlField {
  box-sizing: border-box;
  width: 50vw;
  margin-left: 1em;
  padding: 0.7em 3.7em 0.7em 0.7em;
  text-overflow: ellipsis;
  font-family: inherit;
  font-size: var(--font-size-small);
  font-weight: inherit;
  color: inherit;
  background: transparent;
  border: 1px solid var(--color-silver);
}

@media only screen and (max-width: 1000px) {
  .ShareUrl > .UrlField {
    width: 80vw;
  }
}

/* animated copy icon */

.ShareUrl > .CopyIcon {
  position: relative;
  right: 1.7em;
}

.ShareUrl > .CopyIcon > path {
  transition: fill 0.5s ease;
}

.ShareUrl > .CopyIcon:hover > path {
  fill: var(--color-gold);
}

.ShareUrl > .CopyIcon:hover {
  cursor: pointer;
}
