/* base app layout */

.App {
  --app-margin: 3vmax;
  margin: var(--app-margin);
  min-height: calc(99vh - 2 * var(--app-margin));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: var(--app-margin);
}
