/* variables */

:root {
  --color-font: #dddddd;
  --color-dim: #aaaaaa;
  --color-background: #0f0f23;
  --color-highlight: #1f1f47;
  --color-error: #ff6659;
  --color-gold: #ffff66;
  --color-silver: #797986;
  --color-bronze: #945210;
  --font-size-small: calc(8px + 1vmin);
  --font-size-normal: calc(10px + 1vmin);
  --font-size-large: calc(16px + 2vmin);
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

/* base style */

body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--color-font);
  background-color: var(--color-background);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  font-family: "Kalam", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 2vh 0;
}

/* links */

a {
  color: var(--color-gold);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* toast messages */

.ToastMessage {
  background: var(--color-font) !important;
  color: var(--color-background) !important;
}


/* hide scrollbar */

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* github corner */

.github-corner svg {
  fill: var(--color-silver);
  color: var(--color-background);
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
