:root {
  --bg-color: #0f0f23;
  --highlight-color: #ffff66;
  --error-color: #ff6659;
  --font-color: #dddddd;
  --font-size-small: calc(14px + 1vmin);
  --font-size-normal: calc(16px + 2vmin);
}

body {
  margin: 5vmin 5vmin 0 5vmin;
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: "Caveat", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-normal);
}

p {
  margin: 2vh 0;
}

small {
  font-size: var(--font-size-small);
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
