/* dropzone field style */

.DropzoneField {
  height: 25vmin;
  width: 90vw;
}

.JsonDropzone.small > .DropzoneField {
  height: 10vmin;
}

/* title and description */

.DropzoneText {
  margin-top: 5vh;
}

.DropzoneText p.Title {
  font-size: var(--font-size-large);
}

.DropzoneText p.Description {
  font-weight: var(--font-weight-light);
}

.DropzoneText p.Description.error {
  color: var(--color-error);
}

/* smaller dropzone */

.JsonDropzone.small > .DropzoneText {
  display: none;
}
