/* dropzone field style */

.DropzoneField {
  margin-bottom: 5vh;
}

/* title and subtitle */

.DropzoneText p.Title {
  font-size: var(--font-size-large);
}

.DropzoneText p.Subtitle {
  font-weight: var(--font-weight-light);
}

.DropzoneText.hidden {
  display: none;
}
