/* dropzone field style */

.DropzoneField {
  margin-bottom: 5vh;
}

/* title and description */

.DropzoneText p.Title {
  font-size: var(--font-size-large);
}

.DropzoneText p.Description {
  font-weight: var(--font-weight-light);
}

.DropzoneText p.Description.error {
  color: var(--color-error);
}

.DropzoneText.hidden {
  display: none;
}
